<html>
<head>
  <script src="/public/client.js"></script>
  <link rel="stylesheet" href="/public/css.css" />
</head>
<body>
    <h1>Header!</h1>
    <p> sdlfkjsdlfkjfds </p>
    <form action="/post" method="POST">
      <input name="name">
      <input name="color">
      <button type="submit">Submit</button>
    </form>
</body>
  </html>